{% extends 'base.html' %}

{% block content %}
    <h1>Browse recent projects</h1>
    <hr>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-3 m-4" style="border: 2px solid black; padding: 15px;">
                <h3>
                    {{ project.name }}
                </h3>
                <br>
                <a class="btn btn-sm btn-primary" href="{% url 'project_detail' project.id %}">
                    View
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}